<footer id="Footer" class="clearfix ">
    <div class="widgets_wrapper "><div class="container"><div class="column one"></div></div></div>
    
        <div class="footer_copy">
            <div class="container">
                <div class="column one">

                    <a id="back_to_top" class="footer_button" href=""><i class="icon-up-open-big"></i></a>
                    <div class="copyright">
                        &copy; 2022 MEDAICON. All Rights Reserved. <a target="_blank" rel="nofollow" href="https://muffingroup.com">Muffin group</a>						</div>
                    </div>
            </div>
        </div>
</footer>
