<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b> REGISTER</b>
    </div>
    <div class="card-body p-4">
      <label style="float: left;">Nom</label>
      <input class="form-control m-2" type="email" placeholder="saisir votre nom" [(ngModel)]="usuario.name">

      <label style="float: left;">Email</label>
      <input class="form-control m-2" type="email" placeholder="saisir votre email" [(ngModel)]="usuario.email">

      <label style="float: left;">Password</label>
      <input class="form-control m-2" type="password" placeholder="saisir password" [(ngModel)]="usuario.password">

      <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Register</button>
      <!-- <button class="btn btn-info btn-block m-2" (click)="IngresarConGoogle()">Ingresar con google</button> -->
      <label>vous avez un compte? <a routerLink="/login">Login</a></label>
    </div>


  </div>
</div>